{% extends 'home.html.twig' %}
{% block banner %}
    <header id="header" >
        <h1><a href="/">Lukasz Andrzejak - Meltir</a></h1>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>
{% endblock %}

{% block main_body %}
    <header>
        <div class="inner">
            <h2>Curriculum Vitae</h2>
            <p>Current as of June 2019, please try <a href="https://www.linkedin.com/in/meltir" target="_blank">linkedin</a> for the most recent version</p>
            <p>The past few weeks were spent catching up with symfony flex and docker</p>
        </div>
    </header>
    <div class="wrapper">
        <div class="inner">
            {% for item in posts %}
                <h3 class="major">{{ item.title }}</h3>
                {{ item.body|raw }}
            {% endfor %}
        </div>
    </div>
{% endblock %}